# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Where Elixir Language Server stores static analysis results.
/.elixir_ls/

# Ignore .fetch files in case you like to edit your dependencies locally.
/.fetch

# Ignore VM generated crash dumps.
erl_crash.dump

# Ignore compiled BEAM bytecode.
*.beam

# Ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarballs (built via "mix hex.build").
advent_of_code-*.tar

# Ignore secret configuration files.
/config/secrets.exs
